{% if site.blogroll %}
<section>
  <h1>Blogroll</h1>
  <ul>
    <li><a href="http://24ways.org/" title="24 ways is the advent calendar for web geeks. Each day throughout December we publish a daily dose of web design and development goodness to bring you all a little Christmas cheer.">24 ways — The advent calendar for web geeks</a>
    <li><a href="http://www.456bereastreet.com/" title="Most articles on this site are related to web standards, accessibility, or usability in one way or another, with the occasional article on other subjects.">456 Berea Street — Articles and news on web standards, accessibility, and usability</a>
    <li><a href="http://www.alistapart.com/" title="A List Apart Magazine explores the design, development, and meaning of web content, with a special focus on web standards and best practices.">A List Apart — For People Who Make Websites</a>
    <li><a href="http://adactio.com/journal/">Adactio Journal — Journal of Jeremy Keith</a>
    <li><a href="http://addyosmani.com/blog/" rel="contact">Addy Osmani's blog</a>
    <li><a href="http://nerds.airbnb.com/" title="Engineering blog at Airbnb">Airbnb Engineering</a>
    <li><a href="http://www.codinghorror.com/blog/">Coding Horror — programming and human factors by Jeff Atwood</a>
    <li><a href="http://danwebb.net/" title="Dan Webb is a San Francisco-based web developer working on the platform team at Twitter.">danwebb.net</a>
    <li><a href="http://dean.edwards.name/" title="If JavaScript really did have ninjas, he’d be a samurai">Dean Edwards' personal site</a>
    <li><a href="http://paulirish.com/" rel="met">Paul Irish</a>
    <li><a href="http://www.quirksmode.org/blog/" title="PPK’s blog">QuirksBlog</a>
    <li><a href="http://snook.ca/">CSS-Tricks — A great design resource by Chris Coyier</a>
    <li><a href="http://css-tricks.com/">snook.ca — Tips, tricks &amp; bookmarks on Web development</a>
    <li><a href="http://www.dustindiaz.com/">Dustin Diaz — JavaScript developer and terrible comedian.</a>
    <li><a href="http://www.stubbornella.org/">Stubbornella</a>
    <li><a href="http://www.paperplanes.de/" title="I work at Travis CI, I like coffee, bacon, and Twitter.">Mathias Meyer's personal site</a>
    <li><a href="http://davidwalsh.name/" title="DWB">David Walsh - JavaScript, HTML5 Consultant</a>
    <li><a href="http://randsinrepose.com/" title="A Nerd in a Cave">Rands in Repose</a>
  </ul>
  <h1>Web Development Resources</h1>
  <ul>
    <li><a href="http://httpstat.us">httpstat.us — A super simple service for generating different HTTP codes</a>
    <li><a href="https://unsplash.com/">unsplash.com — Free (do whatever you want) high-resolution photos.</a>
    <li><a href="http://devdocs.io/" title="DevDocs combines multiple API documentations in a fast, organized, and searchable interface.">API Documentation Browser</a>
    <li><a href="http://caniuse.com/" title="Compatibility tables for support of HTML5, CSS3, SVG and more in desktop and mobile browsers.">When Can I Use…</a>
    <li><a href="http://html5please.com/" title="Look up HTML5, CSS3, etc features, know if they are ready for use, and if so find out how you should use them – with polyfills, fallbacks or as they are.">HTML5 Please — Use the new and shiny responsibly</a>
    <li><a href="http://www.html5rocks.com/en/">HTML5 Rocks — A resource for open web HTML5 developers</a>
    <li><a href="http://odewahn.github.io/docker-jumpstart/">Docker Jumpstart by Andrew Odewahn</a>
    <li><a href="http://html5pattern.com/">HTML5Pattern — A source of regularly used Input-Patterns</a>
    <li><a href="http://microjs.com/">MicroJS — Micro-frameworks and Micro-libraries</a>
    <li><a href="http://rawgit.com/">RawGit — Serve raw files directly from GitHub</a>
    <li><a href="http://ui-patterns.com/patterns" title="UI design patterns">Design patterns — User Interface Design Patterns Library</a>
    <li><a href="https://html5.validator.nu/">(X)HTML5 Validator (Living Validator)</a>
    <li><a href="https://gsnedders.html5.org/outliner/">HTML 5 Outliner</a>
    <li><a href="http://rubular.com/">Rubular — a Ruby regular expression editor and tester</a>
    <li><a href="https://developer.mozilla.org/">MDN — Shared knowledge for the Open Web</a>
    <li><a href="https://www.webplatform.org/">WebPlatform — The latest information on how to use the technology that runs the web</a>
    <li><a href="http://www.sitepoint.com/" title="SitePoint is a fast growing online media company and information provider targeting the Web professional market, specifically Web Developers and Designers.">SitePoint — Learn CSS | HTML5 | JavaScript</a>
    <li><a href="http://quirksmode.org/" rel="met" title="QuirksMode.org is the prime source for browser compatibility information on the Internet.">QuirksMode — for all your browser quirks</a>
    <li><a href="http://www.showslow.com/" title="Show Slow is an open source tool that helps monitor various website performance metrics over time.">Show Slow</a>
    <li><a href="http://www.google.com/webmasters/tools/richsnippets" title="The structured data testing tool lets you check your markup and make sure that Google can extract the structured data from your page.">Google Structured Data Testing Tool</a>
    <li><a href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fwww.habdas.org&tab=desktop">PageSpeed Insights — Make your web pages fast on all devices</a>
    <li><a href="http://www.webpagetest.org/">WebPageTest — Website Performance and Optimization Test</a>
  </ul>
</section>
{% endif %}
